@import './partials/fonts';
@import './vendors/bs-x5/bootstrap';
@import './partials/base';



.main-navbar {
    background-color: $universal-color-1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 6rem;

    .nav-link {
        color: $universal-color-2 !important;
        font-size: clamp(1rem, .2vw, 1.5rem);
        text-transform: uppercase;

        i {
            font-size: 1.5rem;
        }

    }

}

.navbar-toggler{
    color: $universal-color-2;
}


.main-hero-section {
    padding-top: 6rem!important;
    position: relative;
    width: 100%;
    height: 1000px;
    overflow: hidden;



    video{
        filter: brightness(50%) contrast(120%);
    }
}



.video-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $universal-color-2;
    font-size: 24px;
    font-weight: bold;
    z-index: 2;

    h2{
        padding-bottom: 2rem;
        font-weight:800;
        font-size: clamp(2.5rem, 5vw, 14rem);
        span{
            font-weight: 400;
            font-size: 40%;
            display: block;
        }
    }

    a{
        i{
            color: $universal-color-2;
            rotate: 90deg;
        }
        polygon{
            stroke: $universal-color-2;
            opacity: 1;
           
        }
        &:hover{
            i{
                color: $universal-color-1;
            }
            polygon{
                fill: $universal-color-2!important;
            }
        }

    }
   
}
.car-specs{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $universal-color-2;
    font-size: 24px;
    font-weight: bold;
    z-index: 2;
    ul{
        li{
            b{
                font-weight: 400;
                display: block;
            }
            small{
                font-weight: 300;
            }
            &:not(:last-child){
                margin-right: 3rem;
            }
        }
    }
}


section.augmented-reality {
    margin-bottom: 5rem;
    .col-inner{
        display: flex;
        align-items: center;
        min-height: 100%;
        position: relative;
        .lambo{
            position: absolute;
            top: 80%;
            left: 60%;
            transform: translate(-50% ,-50%);  
            width: 700px;
            aspect-ratio: 1/.5;
            object-fit: cover;

        }
        figure {
            width: 100%;
            aspect-ratio: 1/.45;
            clip-path: polygon(0 0, 100% 0%, 60% 100%, 0 100%);
    
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
     }
  
}















@import './partials/mediaqueries';