@media (max-width:1200px){
    .augmented-reality{
        .augmented-reality-wrapper{
            flex-direction: column;
            align-items: center;

        }
        .augmented-image {
            width: 100%;
        }
        .augmented-caption {
            width: 100%;
            padding: 3rem 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
@media (max-width:991px){

    .main-navbar{
        .navbar-nav{
            margin-bottom: 0!important;
        }

        .navbar-wrapper{
            background-color: $universal-color-1;
            .lg-show{
                display: flex!important;
            }
            .lg-hide{
                display: none;
            }
        }
    }
    .video-caption{
        br{
            display: none!important;
        }
    }
    .car-specs{
        ul{
            flex-direction: column;
            li{
                margin-bottom: 1.5rem;
            }
        }
    }
    .augmented-reality{
        .col-inner{
            flex-direction: column!important;
            justify-content: center!important;
            align-items: center;
        }
    }
    
}



