@media (max-width:1200px){
    .augmented-wrapper{
        flex-direction: column;
        align-items: flex-start;

        .augmented-image{
            width: 100%;
        }
        .augmented-caption{
            width: 100%;
        }
    }
}
@media (max-width:991px){

    .main-navbar{

        .navbar-wrapper{
            background-color: $universal-color-1;
            .lg-show{
                display: flex!important;
            }
            .lg-hide{
                display: none;
            }
        }
    }
    .video-caption{
        br{
            display: none!important;
        }
    }
    .car-specs{
        ul{
            flex-direction: column;
            li{
                margin-bottom: 1.5rem;
            }
        }
    }
    
}



